.box-white {
    background-color: #f3f3f3;

}

.box-yellow {
    background-color: #f9e314;
}

.box-black {
    background-color: #000000;

}

.box-blue {
    background-color: #0c7ebd;
}

.box-red {
    background-color: #f50f0f;
}

.row {
    background-color: #484848;
}

.square {
    height: 100px;
    width:100%;
}


.row:first-of-type {
  padding-top: 5px;
}

.row:nth-of-type(9) {
  padding-bottom: 5px;
}

img {
    width: 100%;
}
